body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #ffffff;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

label {
  margin-top: 10px;
}

input, select, button {
  margin-top: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333333;
  color: #ffffff;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input::placeholder, option {
  color: #cccccc;
}

input:focus, select:focus, button:focus {
  outline: none;
  border: 1px solid #6200ea;
}

button {
  background-color: #6200ea;
  cursor: pointer;
}

button:hover {
  background-color: #3700b3;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #1e1e1e;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
}

button {
  background-color: #6200ea;
  margin-left: 10px;
}

button:hover {
  background-color: #3700b3;
}

span {
  color: #ff5252;
}

.results {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.card {
  padding: 20px;
  border-radius: 5px;
  width: 250px;
  height: 150px;
}

.best {
  background-color: #4caf50;
}

.worst {
  background-color: #f44336;
}
