body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 10px;
}

h1, h2 {
  color: #ffffff;
  font-size: 1.5em; /* Reduzido de 2em */
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  background-color: #1e1e1e;
  padding: 10px; /* Reduzido de 20px */
  border-radius: 10px;
}

label {
  margin-top: 5px; /* Reduzido de 10px */
  font-size: 0.9em; /* Reduzido de 1em */
}

input, select, button {
  margin-top: 5px;
  padding: 8px; /* Reduzido de 10px */
  border: none;
  border-radius: 5px;
  background-color: #333333;
  color: #ffffff;
  width: 100%;
  font-size: 0.9em; /* Reduzido de 1em */
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input::placeholder, option {
  color: #cccccc;
}

input:focus, select:focus, button:focus {
  outline: none;
  border: 1px solid #6200ea;
}

button {
  background-color: #6200ea;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3700b3;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  background-color: #1e1e1e;
  margin: 5px 0; /* Reduzido de 10px */
  padding: 8px; /* Reduzido de 10px */
  border-radius: 5px;
  font-size: 0.9em; /* Reduzido de 1em */
}

.card {
  padding: 15px; /* Reduzido de 20px */
  border-radius: 5px;
  width: 120px; /* Reduzido de 250px */
  text-align: center;
  font-size: 0.9em; /* Reduzido de 1.2em */
}

.card.best {
  background-color: #4caf50;
}

.card.worst {
  background-color: #f44336;
}

.card h3 {
  margin-top: 0;
  font-size: 1em; /* Reduzido de 1.2em */
}

.card p {
  font-size: 1em; /* Reduzido de 1.2em */
}

.results {
  display: flex;
  gap: 10px; /* Reduzido de 20px */
  margin-top: 10px; /* Reduzido de 20px */
}

button.reset {
  background-color: #6200ea;
  margin-top: 10px; /* Reduzido de 20px */
}

button.reset:hover {
  background-color: #3700b3;
}

span {
  color: #ff5252;
}
